.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 5px;
  gap: 10px;

  @media (min-width: 768px) {
    padding: 30px;
    gap: 100px;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;

  .navigation__list {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    background-color: transparent;
    border-radius: 10px;
    height: 26px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 2px;
  }

  &__item {
    list-style: none;
    transition: transform 200ms ease-out;
    background-color: rgba(0,0,0, 0.6);
    border-radius: 10px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover {
      transform: scale(1.1);
    }
  }
  
  &__icon {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
  
    cursor: pointer;

    @media (min-width: 1024px) {
      width: 26px;
      height: 26px;
    }
  }
  
  &__theme-color {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 2px;
    height: fit-content;
    border: none;
    background-color: transparent;
  
    cursor: pointer;
  }
}