.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 5px;
  gap: 10px;

  @media (min-width: 768px) {
    padding: 20px;
    gap: 100px;
  }

  &__logo {
    width: 24px;
    height: 24px;

    &-content {
      width: 24px;
      height: 24px;
    }
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;

  .navigation__list {
    width: 50%;
    position: fixed;
    top: 20px;
    right: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-color: transparent;
    height: 24px;

    @media (min-width: 768px) {
      right: 20px;
    }
  }

  &__item {
    list-style: none;
    transition: transform 200ms ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}