@import 'src/styles/variables.scss';

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 120px 20px 120px 20px;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

    .title {
      line-height: 35px;
      margin-bottom: 30px;
      text-align: center;

      font-size: 3rem;

      @media (min-width: 768px) {
        font-size: 4rem;
      }

      @media (min-width: 1024px) {
        font-size: 5rem;
      }

      @media (min-width: 1400px) {
        font-size: 7rem;
        line-height: 60px;
      }

      @media (min-width: 2500px) {
        font-size: 8rem;
      }

      &-content {
        text-align: center;
        font-size: 1rem;
        margin-top: 30px;
        width: 280px;

        @media (min-width: 768px) {
          font-size: 1.1rem;
          width: 680px;
        }

        @media (min-width: 1024px) {
          font-size: 1.3rem;
          width: 980px;
        }

        @media (min-width: 1400px) {
          font-size: 2rem;
          width: 980px;
        }

        @media (min-width: 2500px) {
          font-size: 3rem;
          width: 1024px;
        }
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  

}