@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
  transition: scroll-behavior 1s ease-out;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: $secondary-color;
  color: $primary-color;

  animation: fadeIn 3s ease;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 22px;
}

span {
  margin: 0;
  padding: 0;
}

.icon {
  width: 24px;
  height: 24px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}