@import 'src/styles/variables.scss';

.dropdown {
  border: 1px solid $primary-color;
  background-color: $primary-color;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  height: 24px;
  position: fixed;
  width: fit-content;
  left: 100px;
  z-index: 1;

  &:hover {
    cursor: pointer;
    border: 1px solid $primary-color;
  }

  &:focus {
    border: 1px solid $primary-color;
  }

  &__title {
    font-size: 16px;

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__btn {
    border: none;
    background-color: $primary-color;
    
    &:hover {
      cursor: pointer;
    }
  }

  &__options {
    position: absolute;
    border: 1px solid $primary-color;
    background-color: #fff;
    height: fit-content;
    top: 30px;
    left: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 4px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    z-index: 2;
    height: max-content;
  }

  &__select-option {
    margin: 5px;
    padding-inline: 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $primary-color;

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
}

