@import 'src/styles/variables.scss';

.relative {
  position: relative;
  overflow-x: hidden;

  &__container {
    position: absolute;
    top: 0;
    left: 0;

    background-color: $primary-color;
    height: 100vh;
    width: 100vw;
    padding: 30px;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title-1 {
    color: $accent;
    font-size: 3rem;

    @media (min-width: 768px) {
      font-size: 4rem;
    }

    @media (min-width: 1024px) {
      font-size: 5rem;
    }

    @media (min-width: 1400px) {
      font-size: 7rem;
    }

    @media (min-width: 2500px) {
      font-size: 8rem;
    }
  }

  &__title-2 {
    color: $accent;
    font-size: 2rem;

    @media (min-width: 768px) {
      font-size: 3rem;
    }

    @media (min-width: 1024px) {
      font-size: 4rem;
    }

    @media (min-width: 1400px) {
      font-size: 5rem;
    }

    @media (min-width: 2500px) {
      font-size: 6rem;
    }
  }
}

.landingPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $secondary-color;
  gap: 50px;

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    @media (min-width: 768px) {
      width: 90vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: 1400px) {
      justify-content: center;
    }
  }

  .welcome {
    font-weight: bold;
    color: $primary-color;
    z-index: 9;

    font-size: 3rem;

    @media (min-width: 768px) {
      font-size: 4rem;
    }

    @media (min-width: 1024px) {
      font-size: 5rem;
    }

    @media (min-width: 1400px) {
      font-size: 7rem;
    }

    @media (min-width: 2500px) {
      font-size: 8rem;
    }
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 20px;
    height: fit-content;

    &__tagline {
      position: relative;
      font-size: 3em;
      font-weight: lighter;
      text-align: center;
      height: 230px;
      margin-top: 50px;

      @media (min-width: 769px) {
        height: 120px;
      }
    }

    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__contact {
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 18px;
      padding: 10px;
      border-radius: 20px;
      color: $secondary-color;
      background-color: $secondary-color;
      text-align: center;

      &-info {
        text-decoration: none;
        color: #fff;
        transition: color 200ms ease;
        font-size: 20px;

        &:hover {
          color: $accent;
        }
      }
    }

    .user {
      width: 100%;
      height: 280px;
      object-fit: cover;
      clip-path: circle(45%);
      transition: transform 200ms ease;
    }
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2em;
    }

    &__link {
      color: $primary-color;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      text-decoration: none;
      text-align: center;
      font-size: 14px;
      transition: color 300ms ease;

      &:hover {
        color: $accent;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      list-style: none;
    }
  }

  .spotify-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__link {
      height: 400px;
      border: none;

      @media (min-width: 768px) {
        width: 100%;
      }

      @media (min-width: 1024px) {
        height: 450px;
        width: 100%;
      }
    }
  }

  .container {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
  }

  .mouse {
    width: 50px;
    height: 90px;
    border: 3px solid $accent;
    border-radius: 60px;
    position: relative;

    &::before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $accent;
      border-radius: 50%;
      opacity: 1;
      animation: wheel 2s infinite;
      -webkit-animation: wheel 2s infinite;
    }
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}