@import 'src/styles/variables.scss';

.aboutMe {
  margin: 120px 10px 20px 0;

  @media (min-width: 768px) {
    margin: 150px 50px 150px;
  }

  @media (min-width: 1024px) {
    margin: 200px 50px;
  }

  @media (min-width: 1400px) {
    margin: 220px 260px;
  }

  @media (min-width: 2500px) {
    margin: 230px 500px;
  }

  &__title {
    margin-bottom: 80px;
    margin-left: 10px;
    text-align: center;
    line-height: 60px;

    @media (min-width: 1024px) {
      font-size: 80px;
    }

    @media (min-width: 1400px) {
      font-size: 100px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width:768px) {
      flex-direction: row;
    }

  }

  .slider__container {
    z-index: 0;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .arrow {
      position: absolute;
      right: 20%;
      transform: translate(-50%, -50%);
      transform: rotate(270deg);
    }
    
    .arrow span {
      display: block;
      width: 5vw;
      height: 5vw;
      border-bottom: 5px solid white;
      border-right: 5px solid white;
      transform: rotate(45deg);
      margin: -10px;
      animation: animate 2s infinite;
    }

    .arrow span:nth-child(2) {
      animation-delay: -0.2s;
    }

    .arrow span:nth-child(3) {
      animation-delay: -0.4s;
    }


  }

  .slider {
    display: flex;
    cursor: grab;
    user-select: none;
    transition: transform 0.3s ease;
    gap: 20px;
    align-items: center;
    background-color: $accent;
    padding-inline: 20px;
    border-radius: 10px;

    height: 410px;

    @media (min-width: 1024px) {
      height: 450px;
    }
  }

  .card {
    width: 250px;
    height: 350px;
    background-color: $primary-color;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000;

    @media (min-width: 1024px) {
      height: 400px;
    }

    &__link {
      text-decoration: underline;
      color: $accent;
      font-weight: bold;
      cursor: pointer;
    }

    &__content {
      font-weight: 600;
    }

    .card__tagsContainer {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      margin-top: 8px;
    }

    .card__tag {
      background-color: $secondary-color;
      color: $primary-color;
      border-radius: 4px;
      padding: 4px 8px;
      font-size: 14px;
    }
  }

  .card:active {
    cursor: grabbing;
  }

  .motivation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: $accent;

    &__content {
      font-size: 14px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}